cust/app/customized/partner-com.agoda.mobile.consumer_110/partner-com.agoda.mobile.consumer_110.apk
cust/app/customized/partner-cn.wps.moffice_eng_63/partner-cn.wps.moffice_eng_63.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
